.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: #00bcd4;
  color: #212121;
  border-radius: 5px;
  padding: 15px;
}

.todolist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.task {
  font-weight: bold;
}

.active-filter {
  background-color: #4CAF50;
  color: aliceblue;
  border: 2px solid #7ed081;
}

.input-error {
  border: 2px solid #9f685a;
}
